.appointment-banner-container {
  background-color: var(--primaryBlueColor);
  border-radius: 12px;
  padding: 32px 64px 0px 64px;

  .appointment-banner-title {
    font-size: 64px;
    color: var(--whiteColor);
    font-weight: 600;
  }
  .appointment-banner-description {
    font-size: 16px;
    color: var(--whiteColor);
  }

  .book-appointment-button {
    background-color: var(--whiteColor);
    height: 63px;
    min-width: 240px;
    border-radius: 48px;
    color: var(--greyColor);
    font-size: 18px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.create-account-banner-container {
  .create-account-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.find-by-speciality-title {
  font-size: 40px !important;
  font-weight: 500 !important;
  color: #1f2937 !important;
}
.find-by-speciality-description {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #4b5563 !important;
}

.find-by-speciality-icon-container {
  width: 120px;
  height: 120px;
  background-color: var(--primaryBlueColor);
  border-radius: 100%;
  color: var(--whiteColor);
}

.view-all-doctors-button {
  width: 200px !important;
}

.doctor-card-container {
  border-radius: 12px;
  border: 1px solid #c9d8ff;
  width: calc((100% - 24px) / 5);

  .doctor-card-image-container {
    background-color: #eaefff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    img {
      border-top-left-radius: 12px !important;
      border-top-right-radius: 12px !important;
      border-radius: 0;
    }
  }

  .doctor-card-info {
    padding: 16px;

    .doctor-name-text  {
      font-size: 22px;
      font-weight: 500;
      color: #1f2937;
    }

    .doctor-speciality-text {
      font-size: 16px;
      color: #4b5563;
    }
  }
}
