:root {
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --logoTextColor: #000b6d;
  --primaryBlueColor: #5f6fff;
}

body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
